<article>
    <div>
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        by {{user.username}}
    </div>
    <div>
        created on: {{format_date created_at}}
        </br>
        {{comments.length}} comment(s)
    </div>
</article>